/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#outer_video {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
	text-align: center;
	text-rendering: optimizeLegibility;
}
#outer_video[id] {
	display: table;
	position: static;
}

#outer {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('/assets/img_bg.png');
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
	text-rendering: optimizeLegibility;
}
#outer[id] {
	display: table;
	position: static;
}

#middle {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}
#middle[id] {
	display: table-cell;
	vertical-align: middle;
	position: static;
}

#inner {
	position: relative;
	top: -50%;
	text-align: left;
}
#inner {
	margin-left: auto;
	margin-right: auto;
}
#inner {
	width: 1095px;
	text-align: center;
}/* this width should be the width of the box you want centered */

#inner-left {
	text-align: left;
}
#inner-right {
	text-align: right;
	margin-right: 35px;
}
