@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
#outer {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('img_bg.png');
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
	text-rendering: optimizeLegibility;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#btn_quem {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	padding: 10px;
	text-align:center;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	text-align:center;
	display: block;
}
#btn_contato {
	clear: both;
	float: left;
	margin-left: 0;
	text-align:center;
	width: 100%;
	display: block;
	padding: 10px;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#btn_quem {
	clear: both;
	float: left;
	text-align:center;
	margin-left: 0;
	width: 100%;
	display: block;
	padding: 10px;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	text-align:center;
	display: block;
}
#btn_contato {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	text-align:center;
	display: block;
	padding: 10px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}

#btn_quem {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
	text-align: center;
	padding: 10px;
}
#logo {
	clear: both;
	float: left;
	margin-left: 30.6122%;
	width: 38.7755%;
	display: block;
	text-align:center;
}
#btn_contato {
	clear: both;
	float: left;
	margin-left: 71.4285%;
	width: 28.5714%;
	display: block;
	text-align: center;
	padding: 10px;
}
}
