<div id="outer">
	<div id="middle">
		<div id="btn_quem">
			<a href="http://www.facebook.com/doisdoissete"
			onClick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Facebook']);"> <%= image_tag('btn_quem.png', alt: "Quem somos")  %> </a>
		</div>
		<div id="logo">
			<canvas id="logoAnimation" style="display: none"></canvas>
			<%= image_tag('img_logo.png', alt: "doisdoissete.", id:"logoPng") %>
		</div>

		<div id="btn_contato">
			<a href="mailto:rafa.prada@doisdoissete.com"
			onClick="_gaq.push(['_trackEvent', 'Home', 'Click', 'SendMail']);"> <%= image_tag('btn_contato.png', alt: "Contato")%> </a>
		</div>

	</div>
</div>
<script src="<%= asset_path 'logo-animation.js' %>"></script>

