<div id="outer_video">
	<div id="middle">
		<div id="inner">
			<div id="inner-left">
				<a href="http://www.facebook.com/doisdoissete"> <%= image_tag('btn_quem.png', alt: "Quem somos")  %> </a>
			</div>
			<div id="inner-meio">

				<video onended="this.play()" autoplay loop poster="<%= asset_path 'img_logo.png' %>" id="video-bg" style="position: fixed; right: 0; bottom: 0; width: auto; min-width: 100%; height: auto; min-height: 100%; z-index: -100; background: transparent url(video-bg.jpg) no-repeat; background-size: cover; opacity: 0.5;">
					<source src="<%= asset_path 'dds.webm' %>" type="video/webm">
					<source src="<%= asset_path 'dds.m4v' %>" type="video/mp4">
				</video>

			</div>
			<div id="inner-right">
				<a href="mailto:contato@doisdoissete.com"> <%= image_tag('btn_contato.png', alt: "Contato")%> </a>
			</div>
		</div>
	</div>
</div>
