<div id="outer">
	<div id="middle">
		<div id="inner">
			<div id="inner-left">
				<a href="http://www.facebook.com/doisdoissete"> <%= image_tag('btn_quem.png', alt: "Quem somos")  %> </a>
			</div>
			<div id="inner-meio">
				<canvas id="logoAnimation" style="display: none"></canvas>
				<%= image_tag('img_logo.png', alt: "doisdoissete.", id:"logoPng") %>
			</div>
			<div id="inner-right">
				<a href="mailto:contato@doisdoissete.com"> <%= image_tag('btn_contato.png', alt: "Contato")%> </a>
			</div>
		</div>
	</div>
</div>

<script src="<%= asset_path 'logo-animation.js' %>"></script>